a {
  background: linear-gradient(
      to top,
      #fe4602 0%,
      #fe4602 10%,
      transparent 10.01%
    )
    no-repeat left bottom / 0 100%;
  transition: background-size 0.5s;
  text-decoration: none;
  color: #585e68;
  font-size: 16px;
}

a:hover {
  background-size: 100% 100%;
  color: #585e68;
}
