.Footer_section {
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: solid#585e68 1px;
  padding: 10px;
  background-color: #f1f1f1;
}

Footer {
  width: 100%;
  height: 40px;
}
