/* NewsFeed Component */
.content-main {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box-1 {
  background-color: #f5f3f3;
  width: 50%;
  height: 400px;
  border: solid 1px #585e68;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 50px;
  display: flex;
  align-items: flex-end;
}

.like {
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1px solid rgb(219, 217, 217);
  font-size: medium;
  border-radius: 5px;
  background-color: rgb(219, 217, 217);
  margin-bottom: 10px;
  color: white;
}
.comment {
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1px solid rgb(219, 217, 217);
  font-size: medium;
  border-radius: 5px;
  background-color: rgb(219, 217, 217);
  color: white;
}
.share {
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1px solid rgb(219, 217, 217);
  font-size: medium;
  border-radius: 5px;
  background-color: rgb(219, 217, 217);
  color: white;
}

.like:hover {
  background-color: #585e68;
  border-color: #585e68;
}
.comment:hover {
  background-color: #585e68;
  border-color: #585e68;
}

.share:hover {
  background-color: #585e68;
  border-color: #585e68;
}

#comment-text {
  border: rgb(219, 217, 217);
  background-color: rgb(219, 217, 217);
  border-radius: 5px;
  width: 850px;
}

.interface-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 10px;
}
