.App {
  text-align: center;
}

.btn-orange {
  color: #fe4602 !important;
  border-color: #fe4602 !important;
}

.btn-orange:hover {
  color: white !important;
  background-color: #fe4602 !important;
}

.btn-orange:not(:disabled):not(.disabled):active {
  background-color: #fe4602 !important;
}

.color-darkGrey {
  color: #585e68 !important;
}

.title-font-size {
  font-size: 1.2rem !important;
}
