.App {
  text-align: center;
  margin-bottom: 100px;
}

.btn-orange {
  color: #fe4602 !important;
  border-color: #fe4602 !important;
}

.btn-orange:hover {
  color: white !important;
  background-color: #fe4602 !important;
}

.btn-orange:not(:disabled):not(.disabled):active {
  background-color: #fe4602 !important;
}

.btn-orange-filter {
  color: #fe4602 !important;
  border-color: #fe4602 !important;
  background-color: white !important;
  border: solid 2px !important;
}

.btn-orange-filter:hover {
  color: white !important;
  background-color: #fe4602 !important;
}

.btn-orange-filter:not(:disabled):not(.disabled):active {
  background-color: #fe4602 !important;
}

.color-darkGrey {
  color: #585e68 !important;
}

.title-font-size {
  font-size: 1.2rem !important;
}

.button-outline:focus {
  outline: none !important;
  outline-offset: none !important;
}

.spinner {
  color: #fe4602 !important;
}

.iconShare {
  color: #585e68 !important;
}
.iconShare:hover {
  color: #fe4602 !important;
}
